<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/noborder"
        android:label="TeleHeart"
        android:roundIcon="@drawable/noborder"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lasttele"
        tools:targetApi="31" >



        <activity android:name=".LoadingActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ResultsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".rememberaccount"
            android:theme="@style/AppTheme.CustomTheme"/>
        <activity
            android:name=".ContactsActivity"
            android:exported="false"
            android:label="ContactsActivity"
            android:theme="@style/Theme.Lasttele"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".popactivity"
            android:theme="@style/AppTheme.CustomTheme"/>

        <activity
            android:name=".Firstscreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service android:name=".MyService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>